<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Import the Bootstrap stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Import icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Import our custom stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my-style.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar my-bg-nav navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/">
      <img class="img-responsive" width="110px" src="../static/img/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="btn btn btn-outline-secondary" style="margin-right: 5px" href="{{ url_for('login') }}">Accedi</a>
        </li>
        <li class="nav-item active">
          <a class="btn btn btn-outline-secondary"  href="{{ url_for('signup') }}">Registrati</a>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>

  {% block script %}{% endblock %}
</body>

</html>
